*{
    font-family: sans-serif;
}
main{
    column-count: 4;
    column-gap: 10px;
}
section {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding:5%;
}
section:nth-child(2) article{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}
h3{
    background-color: #444;
    color: #fff;
    padding:1%;
}
article > pre{
    grid-row: 1 / -1;
    grid-column: 1;
}
pre {
    white-space: pre-wrap;
}
