header, main, footer{
    display: grid;
    /*grid-template-columns: 30% 30% 30%;*/
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 3%;
    width:90%;
    margin: 0 auto;
    font-family: sans-serif;

}

section{
    display: grid;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    grid-auto-rows: min-content;

}
section div h3{
    background-color: #444;
    color: #fff;
    padding: 2%;
}
section:nth-child(2) div{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 1%;
    margin: 0 auto;
    width: 90%;
}




pre {
    white-space: pre-wrap;
}

#createListPlaceholder{
    display:none;
}