/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */

:root {
	--black: #000;
	--white: #FFF;
	--grey: #788287;
	--red: red;
}

html, body {
	height: 100%;
	font-size:16px;
	font-family: 'calibri', sans-serif, serif;
    margin: 0;
}
main,header,nav,section,article,footer{
	max-width:100%;
}
body {
	overflow-y: scroll;
    background-image: url(../images/img1.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header,main{
	letter-spacing: 1px;
	line-height: 21px;
    width: 70%; 
    margin: 0 auto;
}
main {
    background-color: var(--white);
}
main > :nth-child(n+3):not(.div-logo){ /*gælder for main men ikke de første 2 elementer*/
    margin: 0 auto;
    padding: 0 4%;
}
header{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
/* menu */
header > :nth-child(1){ /* first nav */ 
    grid-area: 1/1/1/9;
    display: flex;
}
nav {
    width: 70%;
}
nav li{
    display: inline;
}
nav ul{
    padding: 0;
}
nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--grey);
    margin: 10px;
}
header nav:nth-child(1){ /* gælder header nav nr. 1 */
    background-color:var(--black);
    height:6%;
    position: absolute;
	top: 0;
}
header nav:nth-child(1) ul{ /* gælder header nav ul nr. 1 */
    float:right;
}
header nav:nth-child(1) img{ /* gælder header nav img nr. 1 */
    float: left;
    width: 7%;
}
header nav:nth-child(1) li a:not(.active) { /* gælder header nav li a nr. 1 */
    color: var(--grey);
    margin: 10px;
}
header nav:nth-child(2){ /* gælder header nav nr. 2 */
    height:55%;
    margin-top: 5%;
    margin-left: 5%;
    width:95%;
    font-size: 1.2em;
}
header nav:nth-child(2) ul{ /* gælder header nav ul nr. 2 */
    display:flex;
    justify-content: space-around;
    color: var(--white);
}
header nav:nth-child(2) li a:not(.active2){ /* gælder header nav li a nr. 2 */
    color: var(--white);
    
}
.active{
    color: var(--red);
}
.active2{
    color: var(--black);
}

/* main */
h2{
    font-size: 1.2em;
}
.breadCrumbs{
    padding: 0 4%;
}


main nav:nth-child(1){ /* gælder main nav nr. 1 */
    width: 100%;
    background-color: var(--grey);
}
main nav:nth-child(1) ul { /* gælder main nav ul nr. 1 */
    display: flex;
    justify-content: left;
    color: var(--white);
    padding:1%;
}
main nav:nth-child(1) li a{ /* gælder main nav li a nr. 1 */
    color: var(--white);
}
main section:nth-child(2) p{ /* gælder main section p nr. 2 - overskrift og rubrik */
    color: var(--grey);
    padding: 0 2% 1% 2%;
    font-size: 0.8em;
}
main section:nth-child(2) p a { /* gælder main section p a nr. 2 - brødkrumme sti*/
    color: var(--grey);
    text-decoration: none;
}
main section:nth-child(3) p { /* gælder main section nr. 3 - overskrift og rubrik */
    color: var(--grey);
    font-size: 1.5em;
    line-height: 1em;
}
.div-logo { /* gælder main section nr. 5 - Baggrundsbillede og logo */
    background-image: url(../images/Lag287.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
}
main section:nth-child(5) div { /*gælder main section div nr. 5 */
    margin:0 auto;
    width: 40%;
    height: auto;
    padding: 7%;
}

.values { /* circklerne */
    text-align: center;
    height:536px;
}
.values article{ /* circles text */
    width: 49%;
    float: left;
}
.values article h3 { /* circels heading */
    width: 7em;
    height: 7em;
    line-height: 7;
    border-radius: 50%;
    font-size: 1em;
    color: var(--white);
    text-align: center;
    background: var(--red);
    margin: 0 auto;
}
/*footer*/

footer{ /* gælder footer - menu */
    background-color:var(--black);
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.div-sponsor { /* sponsor */
    padding: 4%;
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-area: 1/1/1/6;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
}
img{
    margin:0 auto;
}


footer nav, .footer-text{ /* footer nav and footer div */
    color: var(--grey);
    padding-left: 15%;
}
footer nav li {  /* footer nav a */
    display: block;
}
footer nav a {  /*  footer nav a */
    color: var(--white);
}
.footer-text{  /* footer div */
    color: var(--grey);
    font-size: 0.9em;
    width: 80%;
    margin-top: 5%;
}
.footer-text span{  /* footer div span */
    color: var(--red);
}
.footer-text nav a{
    align-items: flex-end;
    margin:0;
}
footer:last-child nav{
    padding: 0;
}