/*---------------
    Generel
----------------*/
body {
    height: 100%;
    font-size:16px;
    font-family: 'helvetica', sans-serif, serif;
    background: linear-gradient(#FF9190, #FEC196) no-repeat;
}
header,nav,main,section,article,footer{
    width:100%;
    max-width:100%;
}
html {
    overflow-y: scroll;
}
main{
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
}
/*---------------
    inside 
    main
----------------*/

article, div{
    width:49%;
    float:left;
}
form, fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*---------------
    Form
    Input
----------------*/
form{
    width:60%;
    font-size: 16px;
}
fieldset{
    border: none;
    padding:0;
}

input[type=text], input[type=radio],input[type=checkbox], textarea, select {
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}
button{
    width: 100%;
    padding: 3%;
    margin: 2% 0;
    cursor: pointer;
    background-color: #31AFD5;
    color:white;
    border: none;
}
    button[type=reset]{
        background-color: rgb(49, 175, 213, .5);
    }
